//APP
@import "../js/App/App";

//components
@import "../js/components/all";

//page layout
@import "layout/all";

//reset
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

ol,ul {
  list-style: none;
}