@import "../../../../../../../sass/layout/_mixins.scss";
@import "../../../../../../../sass/layout/_variables.scss";

.detailed-information {
  h2 {
    text-align: center !important;
  }
  .charts-btn {
    @include breeds-buttons {
      margin-left: 2px;
      margin-bottom: 4px;
      @include all-big-screens {
        margin-top: 3%;
      }
      @include only-mobiles-landscape {
        width: 50%;
      }
      @include iPhonexAndPixel2XL {
        width: 50%;
      }
      @include media-tablet {
        width: 50%;
      }
    }
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  @include all-big-screens {
    flex-direction: row;
  }
  .charts-btn {
    color: black;
  }

}

