@import "../../../../sass/layout/mixins";
@import "../../../../sass/layout/variables";

.loginPage {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    @include only-mobiles-landscape {
      margin-top: 10%;
      font-size: 36px;
    }
    font-size: 54px;
    text-align: center;
  }
}
.userOnPage {
  font-size: 54px;
}
form {
  @include only-mobiles-landscape {
    width: 60%;
    margin: 0 auto;
  }
  @include iPhonexAndPixel2XL {
    width: 60%;
    margin: 0 auto;
  }
  margin: $margin-mobile;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: 1.5rem;
  text-align: center;
}
input[type=submit] {
  width: 100%;
  background-color: $button-colors;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

input[type=submit]:hover {
  background-color: rgba(150,80,206,.65);;
}
input[placeholder] {
  font-size: 1.2rem;
}
