@import "../../sass/layout/mixins";


.backgroundWrapper {
  background-attachment: fixed;
  background-position-x: 30%;
  background-position-y: 30%;
  @include all-big-screens {
    background-position-x: 0;
    background-position-y: 0;
  }
}