@import "../../sass/layout/mixins";


.backgroundWrapper {
  background-attachment: fixed !important;
  -webkit-background-attachment: fixed !important;
  z-index: -1 !important;
  position: static !important;
  background-position-x: 30%;
  background-position-y: 30%;
  @include all-big-screens {
    background-position-x: 0;
    background-position-y: 0;
  }
}