@import "../../../../sass/layout/mixins";
@import "../../../../sass/layout/variables";

.catsHistory {
  margin: $margin-mobile;
  padding: 40px 0;
  h2 {
    font-size: $font-sizeSpecial-mobile-tablet;
    text-align: center;
    font-family: $special-font;
    @include all-big-screens {
      font-size: $font-sizeSpecial-desktop;
    }
  }
  .articleWrapper {
    display: flex;
    flex-direction: column;
    @include media-tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    @include all-big-screens {
      flex-direction: row;
      justify-content: space-between;
    }
    article {
      font-size: 1.1rem;
      text-align: justify;
      font-weight: bolder;
      margin-bottom: 3%;
      @include media-tablet {
        width: 48%;
        font-size: 1.3rem;
      }
      @include all-big-screens {
        width: 48%;
        font-size: 1.5rem;
      }
      .italic {
        font-style: italic;
      }
      p.source {
        font-size: 1rem;
        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: $button-colors-hover;
          }
        }
      }
    }
  }
}
.catHistorySection {
  @include main-gradient-grey;
}
.catLogo {
  display: none;
  @include media-desktop-big {
    display: block;
    position: absolute;
    top: 160%;
    left: -19%;
    &:hover {
      animation: jump 1.7s ease-out;
    }
  }
}
@keyframes jump {
  0% {
    transform: rotate(0deg);
    left:-19%
  }
  15%{
    transform: rotate(15deg);
    left: -18%;
  }
  25% {
    transform: rotate(25deg);
    left: -17%;
  }
  50% {
    transform: rotate(30deg);
    left: -16%;
  }
  75%{
    transform: rotate(25deg);
    left: -17deg;
  }
  85% {
    transform: rotate(15deg);
    left: -18%;
  }
  100% {
    transform: rotate(0deg);
    left:-19%
  }
}