@import "../../../../../../sass/layout/_mixins.scss";
@import "../../../../../../sass/layout/_variables.scss";

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 11%;
  justify-content: space-between;
  @include only-mobiles-landscape {
    flex-direction: row;
    align-items: center;
  }
  @include media-tablet {
    flex-direction: row;
    align-items: center;
  }
  @include all-big-screens {
    flex-direction: row;
    align-items: center;
  }
  .breedGallery-wrap {
    width:100%;
    cursor: pointer;
    position: relative;
    + div {
    margin-left: 60px;
    }
    &:nth-child(2) {
      display: none;
      @include only-mobiles-landscape {
        display:block;
      }
      @include media-tablet {
        display:block;
      }
      @include all-big-screens {
        display: block;
      }
    }
    &:nth-child(3){
      display: none;
      @include all-big-screens {
        display: inline-block;
      }
    }
    @include media-desktop {
      width: 33%;
    }
    .breedGallery-image {
      width: 100%;
      height: 200px;
    }
  }
}

//tooltip
.breedGallery-wrap .tooltiptext-breeds {
  visibility: hidden;
  width: 100%;
  background-color: $navBar-color;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.breedGallery-wrap:hover .tooltiptext-breeds {
  visibility: visible;
  cursor: pointer;
  @include all-mobiles {
    visibility: hidden;
  }
  @include media-tablet {
    visibility: hidden;
  }
}

//button
.startGallery {
  background-color: $button-colors;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  outline: none;
  border-radius: 5px;
  @include media-tablet {
    width: 50%;
  }
  @include all-big-screens {
    display: none;
  }
  @include media-desktop {
    display: inline-block;
    width: 57%;
    margin-top: 2%;
  }
}