@import "../../../../sass/layout/mixins";
@import "../../../../sass/layout/variables";

.navigation {
  background-color: rgba(0,0,0,0.28);
  height: 20%;
  position: fixed;
  width: 100%;
  @media screen and (min-width: 992px){
    height: 120px;
  }
  div.wrapper {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 992px){
      flex-direction: row;
     justify-content: space-between;
      align-items: center;
    }
  }
  .nav-wrapper {
    display: flex;
    height: 100%;
    //align-self: flex-end;
    //justify-self: flex-start;
    .hamburger {
     @media screen and (min-width: 992px){
       display: none;
     }
      .fas {
        font-size: 2.5rem;
        margin: 2rem;
        cursor: pointer;
        color: $main-font-color;
      }
    }
    //@media screen and (min-width: 992px){
    //  align-self: normal;
    //  justify-self: normal;
    //}
    @include media-desktop-1680px {
    }
    @include media-desktop-big {
    }
  }
  ul.list {
    position: fixed;
    width: 100%;
    height: 80%;
    top:20%;
    background-color: rgba(0,0,0,0.28);
    clip-path: circle(80px at 0 -25%);
    transition: clip-path 1s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (min-width: 992px){
      clip-path: none;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      height: 100%;
      top:0;
    }
    li {
      text-align: center;
      font-size: 1.5rem;
      @include media-mobile-S {
        font-size: 2rem;
      }
      @include media-tablet {
        font-size: 1.5rem;
      }
      @include media-desktop {
        font-size: 1rem;
      }
      @include media-desktop-1680px {
        font-size: 1.1rem;
      }
      @include media-desktop-big {
        font-size: 0.8rem;
      }
      a {
        text-decoration: none;
        color: $main-font-color;
      }
    }
  }
}
ul.list.open {
  clip-path: circle(1000px at 0% -15%);
  @include media-tablet {
    clip-path: circle(1300px at 0% -15%);
  }
}
