@import "../../../../../../sass/layout/mixins";
@import "../../../../../../sass/layout/variables";

.annoucements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  @include all-big-screens {
    margin-top: 15px;
  }
  .announcement {
    background-color: white;
    color: black;
    border-radius: 3%;
    @include all-big-screens {
      width: 60%;
      height: 350px;
      padding: 15px;
    }
    span {
      font-weight: 700;
    }
  }
}
.iconAdoption {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid rgba(0,0,0, .5);
  }

.announcementImgContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50%;

  .catDetails {
    margin-left: 5vw;

    .announcementTitle {
      @include all-big-screens {
        font-weight: 700;
        font-size: 1.5rem;
        text-decoration: underline;
      }
    }

    p {
      @include all-big-screens {
        font-size: 1.1rem;
      }
    }
  }
}

.announcementSubsection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.announcementDetails {
  @include all-big-screens {
    margin-top: 5px;
  }
}
.sendMessage {
  width: 25%;
  margin: 0 auto;
  background-color: $button-colors;
  color: black;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  padding: 3px;
  &:hover {
    background-color: $button-colors-hover;
  }
}