@import "../../../../sass/layout/mixins";
@import "../../../../sass/layout/variables";


.favouritesSection {
  @include main-gradient-grey;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favouritesWrapper {
  padding-top: 25%;
  padding-bottom: 25%;
  margin: $margin-mobile;
  width: 100%;
  height: 100%;
  h2 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    text-align: center;
  }
  @include only-mobiles-landscape {
    padding-top: 15%;
    padding-bottom: 15%;

  }
  @include media-tablet {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  @include media-desktop {
    padding-top: 12.5%;
    padding-bottom: 12.5%;
  }
  @include media-desktop-1680px {
    padding-top: 11%;
    padding-bottom: 11%;
  }

  @include all-big-screens {
    margin-left: 0;
  }
  .noFav {
    margin: 0 auto;
    font-size: 2rem;
    @include media-tablet{
      font-size: 3rem;
    }
    @include all-big-screens {
      font-size: 3rem;
    }
  }
}
.favGallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @include media-desktop {
    margin-bottom: 30px;
  }
  .favGalleryImage {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 10px;
    @include only-mobiles-landscape {
      width: 49%;
    }
    @include media-tablet {
      width: 49%;
    }
    @include iPhonexAndPixel2XL {
      width: 49%;
    }
    @include media-desktop {
      width: 32.5%;
    }
    @include media-desktop-1680px {
      width: 32.5%;
      height: 390px;
    }
    @include media-desktop-big {
      width: 32.5%;
      height: 420px;
    }
  }
}

.unfavBtn {
  background-color: transparent;
  position: absolute;
  top: 3%;
  left: 84%;
  cursor: pointer;
  border-radius: 50%;
  @include media-desktop-big {
    left: 89%;
  }
}
.fa-heart-broken {
  color: red;
  font-size: 2rem;
}
.paginationBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  button {
    background-color: $button-colors;
    color: black;
    padding: 12px;
    width: 48%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    outline: none;
    border-radius: 5px;
    &:hover {
      background-color: $button-colors-hover;
    }
    @include media-desktop-1680px {
      width: 32.5%;
    }
    @include media-desktop-big {
      width: 32.5%;
    }
  }
}