@import "../../../../sass/layout/mixins";
@import "../../../../sass/layout/variables";

.videoSection {
  width: 100%;
  height: 128px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  @include only-mobiles-landscape {
    height: 216px;
  }
  @include media-tablet {
    height: 256px;
  }
  @include iPhonexAndPixel2XL {
    height: 267px;
  }
  @include all-big-screens {
    height: 50vh;
  }
 @include media-desktop {
   height: 305px;
 }
  .videos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $margin-mobile;
     div {
      width: 48%;
       cursor: pointer;
      img{
        width: 100%;
      }
    }
  }
}