//colors
$main-font-color: white;
$navBar-color: rgba(0,0,0,0.6);
$button-colors: #C2B9B0;
$button-colors-hover: rgba(150,80,206,.65);

//small devices margin

$margin-mobile: 0 3%;

//special fonts

$special-font:'Pacifico', cursive;

//special font sizes

$font-sizeSpecial-mobile-tablet: 2rem;
$font-sizeSpecial-desktop: 3rem;