@import "../../../../sass/layout/mixins";
@import "../../../../sass/layout/variables";
@import "Subcomponents/Logo/logo";
@import "Subcomponents/Select/select";
@import "Subcomponents/Gallery/gallery";

.breedsWrapper {
  margin: $margin-mobile;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
  flex-direction: column;
  @include all-big-screens{
    height: 1080px;
    padding: 10% auto;
  }
}
