@import "../../../../sass/layout/mixins";
@import "../../../../sass/layout/variables";
@import "Subcomponents/Logo/logo";
@import "Subcomponents/Select/select";

.breedsWrapper {
  margin: $margin-mobile;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  flex-direction: column;
  @include all-big-screens{
    height: 1080px;
    padding: 10% auto;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include all-big-screens {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .breedGallery-wrap {
        width: 30%;
      @include media-desktop {
        width: 33%;
      }
      .breedGallery-image {
          width: 300px;
          height: 200px;
      }
    }
  }
}
