@import "../../../../sass/layout/mixins";
@import "../../../../sass/layout/variables";

.breedsWrapper {
  margin: $margin-mobile;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  flex-direction: column;
  @include all-big-screens{
    height: 1080px;
    padding: 10% auto;
  }
  .logo-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include all-big-screens {
      flex-direction: row;
    }
    img {
      width: 15%;
    }
    h2 {
      font-size: 1.5rem;
      text-align: center;
      font-family: $special-font;
      @include all-mobiles {
        font-size: $font-sizeSpecial-mobile-tablet;
      }
      @include media-tablet {
        font-size: 2.5rem;
      }
      @include all-big-screens {
        font-size: $font-sizeSpecial-desktop;
      }
    }
  }

.select-box {
  margin: 3% auto;
  width: 75%;
  @include all-mobiles {
    width: 80%;
  }
  @include all-big-screens {
    width: 50%;
  }
  @include media-desktop {
    width: 57%;
  }
  select {
    background-color: rgba(246,28,206,.65);
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    outline: none;
    border-radius: 5px;

    @include all-big-screens {
      font-size: 20px;
      padding: 12px;
    }
    option {
      padding: 30px;
      }
    }
  }
}
